@charset "UTF-8";

.subTitle {
	text-align: left;
}

/* cart 체크박스 div*/
.check-box-all-inner {
	display: inline-block;
	float: left;
}
.check-box-select{
	position: relative;
	top: 30px;
}

/* cart 페이지 바디 부모*/
.cart-body {
	padding-left: 32px;
	padding-right: 32px;
	padding-bottom: 32px;
	padding-top: 20px;
	background-color: #f4f4f4;
}
.button{
	background-color: transparent;
}
/* cart 전체선택 부분*/
.cart-store {
	padding: 0 15px;
	background-color: #fff;
	border-radius: 16px;
	box-sizing: border-box;
	box-shadow: 0px 3px 9px rgba(0, 0, 0, .05);
}

/* cart 전체선택 체크박스*/
.check-box-all {
	padding: 11px 18px;
	padding-bottom: 40px;
	font-weight: bold;
}

/* cart 삭제버튼의 div*/
.checkBtn {
	position: relative;
	text-align: right;
	float: right;
}

/* cart 삭제버튼 이미지*/
#checkDel {
	font-size: 14px;
}

/* cart 상품 삭제버튼*/
.btn-light {
	border-radius: 15px;
	font-size: 14px;
}

/* cart 상품 위의 헤드부분*/
.store-head {
	position: relative;
	padding: 13px 0;
	border-bottom: 1px solid #222;
}

/* cart 과자몰 체크박스 부분*/
.cart-logo {
	position: relative;
	border-bottom: 1px solid black;
	text-align: left;
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 11px;
}

.product-info {
	display: flex;
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid lightgray;
}

.product-inner {
	display: flex ;
	position: relative;
}

.cart-product-img {
	position: relative;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 82px;
	height: 82px;
	background-color: rgba(0, 0, 0, .04);
	border-radius: 4px;
}

.cart-product-infoArea {
	min-width: 0;
	padding-left: 12px;
	padding-top: 10px;
	
}
.second-inner{
	border-right: 1px solid lightgray;
	border-left: 1px solid lightgray;
}

.cart-product-title {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	word-break: break-all;
	max-height: 40px;
	font-size: 17px;
	line-height: 20px;
	color: #222;
	letter-spacing: -0.3px;
	text-align: left;
}

.cart-product-price {
	margin-top: 3px;
	font-weight: 600;
	color: #222;
	text-align: left;
}

/* 카트쪽 바깥 색상은 여기서 조절*/
.cart-product-countInner{
	
	margin-top: 3px;
    color: #222;
    letter-spacing: -0.5px;
    text-align: left;
}
.cart-select-product-content{
	width: 200px; height: 100px; padding-top: 20px;
}
.cart-minus-content{
	width: 50px; height: 100px; padding-top: 10px; font-size: 50px; color: rgb(199,199,199);
}
.cart-result-content{
	width: 50px; height: 100px; padding-top: 10px; font-size: 50px; color: rgb(199,199,199);
}
.cart-order-btn{
	border-radius: 10px; width: 200px; height: 50px; background-color: pink;
	border: none; font-weight: bold; color: white;
}
.result-word{
	font-weight: bold;
	font-size: 13px;;
}
.result-count{
	font-weight: bold;
	font-size: 20px;;
}

.contentCountBtn {
	width: 30px;
	height: 30px;
	background-color: pink;
	border: 1px solid lightgray;
	color: white;
    font-size: large;
    border-radius: 10px;
}
.cartCount{
	padding-left: 12px;
	margin: 0 auto;
	width: 40px
}