@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Nanum+Gothic&family=Noto+Sans+KR&display=swap');

body {
	margin: 0 auto;
	width: 95%;		
	font-family: 'Nanum Gothic', sans-serif;
}

#header {
	margin: 5px;
	height: 150px;
	border: 1px solid black;
}

#logo {
	text-align: center;
	font-size: 2.5em;
	letter-spacing: 30px;
	margin-bottom: 25px;	
}

a, a:visited {
	text-decoration: none;
	color: black;
}

#profile {
	margin-top: 5px;
	text-align: right;	
}

#header h1 {
	text-align: center;		
}

#menu {
	font-size: 1.2em;
	text-align: center;
	word-spacing: 100px;
	letter-spacing: 10px;
	font-weight: bold;	
}

#menu a:hover {
	color: orange;
}

#content {
	margin: 5px;
	padding: 10px;
	min-height: 700px;
	border: 1px solid black;	
	text-align: center;
}

#footer {
	margin: 5px;
	height: 50px;
	border: 1px solid black;	
	text-align: center;
}

.product-info {
	display: flex;
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid lightgray;
}


.product-inner {
	display: flex ;
	position: relative;
}

.cart-product-img {
	position: relative;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 82px;
	height: 82px;
	background-color: rgba(0, 0, 0, .04);
	border-radius: 4px;
}

.cart-product-infoArea {
	min-width: 0;
	padding-left: 30px;
	padding-top: 5px;
	
}
.second-inner{
	border-right: 1px solid lightgray;
	border-left: 1px solid lightgray;
}

.cart-product-title {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	word-break: break-all;
	max-height: 40px;
	font-size: 17px;
	line-height: 20px;
	color: #222;
	letter-spacing: -0.3px;
	text-align: left;
}

.cart-product-price {
	margin-top: 3px;
	font-weight: 600;
	color: #222;
	text-align: left;
}
.product-info{
	border: 1px solid pink;
}
